<li>
  <div class="row">
    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
      <%= brand_logo_for(contract.brand, class: 'img-circle img-no-padding img-responsive') %>
    </div>
    <div class="col-md-7 col-sm-4  ml-auto mr-auto">
      <h6><%= contract.brand.name %><br><small><%= contract.campaign.name %></small></h6>
    </div>
    <div class="col-md-3 col-sm-2  ml-auto mr-auto">
      <%= contract.campaign.price %>
    </div>
  </div>
</li>
<hr>
