<div class="page-header" style="background-image: url(../assets/login-image.jpg);">
  <div class="filter"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 ml-auto mr-auto">
        <div class="card card-register">
          <h2>Looking for a brand sponsor?</h2>
          <p>Brands have realized that sponsored uber/lyft drives are an emerging
          market. We will connect you with potential brands so that you can collaborate
          and make money!</p>
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
