<div id="lead-header" class="page-header">
  <div class="filter"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 ml-auto mr-auto">
        <div class="card card-register">
          <h2 class="mt-0 text-center" style="font-weight: 400;">Ready to be a sponsored driver?</h2>
          <hr>
          <p>Brands have realized that sponsored uber/lyft drives are an emerging
          market. We connect you with potential brands so that you can collaborate
          and make money! Are you ready?</p>
          <hr>
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
