@import "bootstrap";
@import 'theme';

@import 'font-awesome';

#splash-header {
 background-image: image-url("splash-image.jpg");
}

#lead-header {
  background-image: image-url("night-driving.jpg");
}

p {
  font-size: 16px;
}
