<footer class="footer section-dark">
  <div class="container">
    <div class="row">
      <div class="credits ml-auto">
        <span class="copyright">
          © Uber Ads
        </span>
      </div>
    </div>
  </div>
</footer>
